<h1> Band info </h1>

<% if @band %>
    <p>Band: <%= @band.name %> </p>
    <form action="<%=edit_band_url%>" method="get">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" >
        <input type="submit" value="Edit band">
    </form>
    <form action="<%=band_url%>" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" >
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete band">
    </form>
    <br>
    <p>Albums for this band:</p>
    <ul>
    <% @band.albums.each do |album| %>
        <li> <%=album.title%>, <%=album.yr%> </li>
    <% end %>
    </ul>
<% end %>