<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !logged_in? %>
      <form action="<%=new_session_url%>" method="get">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" >
        <input type="submit" value="LOG IN">
      </form>
      <br>
      <form action="<%=new_user_url%>" method="get">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" >
        <input type="submit" value="SIGN UP">
      </form>

    <% else %>
      <form action="<%=session_url%>" method="post">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" >
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="LOG OUT">
      </form>
    <%end%>
    <%= yield %>
  </body>
</html>
